<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/img/weather.png" rel="icon" />
  <link href="/css/styles.css" rel="stylesheet" />
  <title>{{title}}</title>
</head>
<body>

  <div class="main-content">
    {{>header}}
    <h2>Who am I?</h2>
    <h4>{{name}}</h4>
  </div>
  
  {{>footer}}
  
</body>
</html>