<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/img/weather.png" rel="icon" />
  <link href="/css/styles.css" rel="stylesheet" />
  <title>{{title}}</title>
</head>
<body>
  
  <div class="main-content">
    {{>header}}
    <p>What can we do for you?</p>
  </div>
  
  {{>footer}}

</body>
</html>